@font-face {
    font-family: 'Circular-Book';
    src: url('Circular-Book.eot') format('embedded-opentype'),
    url('Circular-Book.woff') format('woff'),
    url('Circular-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}