@font-face{font-family:open-arrow;src:url(/static/OpenArrow-Regular.2b1b2c26.woff) format("woff"),url(/static/OpenArrow-Regular.adcea111.otf) format("opentype"),url(/static/OpenArrow-Regular.284ff46b.ttf) format("truetype");font-weight:400;font-style:normal;unicode-range:u+2190-21ff}@font-face{font-family:Circular-Book;src:url(/static/Circular-Book.9d53a410.eot) format("embedded-opentype"),url(/static/Circular-Book.d1383f70.woff) format("woff"),url(/static/Circular-Book.61550d6e.ttf) format("truetype");font-weight:400;font-style:normal}
/*# sourceMappingURL=build-js-styles.css.map*/