@font-face {
    font-family: 'open-arrow';
    src: url('OpenArrow-Regular.woff') format('woff'),
         url('OpenArrow-Regular.otf') format('opentype'),
         url('OpenArrow-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+2190-21ff;
}